    <div class="ae-grid au-xs-ta-center au-mb-1">

      <div *ngFor="let persona of infoService.equipo" class="animate__animated animate__fadeIn   ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img [src]="persona.url" alt="" class="au-mb-3" style="border-radius: 15px;">
        <h5 class="ae-u-bolder au-mt-2">{{persona.nombre}}</h5>
        <p class="ae-u-bolder au-mb-3">{{persona.subtitulo}}</p>
        <p class="au-lg-ta-center au-mb-3 au-pl-4 au-pr-4">{{persona.frase}}</p>
        <a target='_blank' href="https://twitter.com/{{persona.twitter}}" class="ae-u-bolder au-underline">{{persona.twitter}}</a>
      </div>
    </div>
    
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">About Us</h6>
        <p class="au-lh-3">We are the ones who make your brand appear on the web by exponentiating its content to create an optimal image for your user or end consumer.
        </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Our Mission</h6>
        <p class="au-lh-3"> Boost your business by helping your company to generate digital marketing strategies and user-focused design </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Our Clients</h6>
        <p class="au-lh-3"> </p>
      </div>
    </div>
    <p class="au-flex au-pt-4 group-buttons"><a  [routerLink]="['/item']"class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Portfolio<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow" routerLink="home"></use>
          </svg>
        </span>
      </a>
    </p>